@import "tailwindcss";

@theme {

  --font-satoshi: "satoshi", sans-serif;

  --color-primary: #275ff6;
  --color-primary-50: #eef5ff;
  --color-primary-100: #d9e8ff;
  --color-primary-200: #bcd8ff;
  --color-primary-300: #8dc0ff;
  --color-primary-400: #589dff;
  --color-primary-500: #3177ff;
  --color-primary-600: #275ff6;
  --color-primary-700: #1340e2;
  --color-primary-800: #1635b7;
  --color-primary-900: #183290;
  --color-primary-950: #142057;

  --color-primary-light: #b1c6ff;

  --color-secondary: #ff4545;

  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1440px;
}

@layer base {
  * {
    @apply box-border;
  }

  body {
    @apply overflow-x-hidden leading-normal text-base;
    font-family: var(--font-poppins), sans-serif;
  }

  p {
    font-family: var(--font-poppins), sans-serif;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    @apply font-bold;
    font-family: var(--font-poppins), sans-serif;
  }

  img {
    @apply h-auto max-w-full align-middle;
  }
}

@layer utilities {
  .container {
    @apply mx-auto w-full relative px-3 sm:w-[540px] md:w-[720px] lg:w-[960px] xl:w-[1160px] 2xl:w-[1320px];
  }
}

@layer components {

  .font-rubik {
    font-family: var(--font-rubik), sans-serif;
  }

  .row {
    @apply -mx-3 flex flex-wrap *:px-3 *:w-full *:relative;
  }

  .grd_shdow {
    box-shadow: -2.44px -2.44px 18px color-mix(in srgb, var(--color-primary) 50%, transparent),
      2.44px 2.44px 18px color-mix(in srgb, var(--color-primary) 50%, transparent);
  }

  .grd_shdow-2 {
    box-shadow: -2.44px -2.44px 18px color-mix(in srgb, var(--color-primary) 50%, transparent),
      2.44px 2.44px 18px color-mix(in srgb, var(--color-secondary) 50%, transparent);
  }

  .dbl_shw {
    box-shadow: inset 0 0 8.2px color-mix(in srgb, var(--color-secondary) 30%, transparent),
      0 0 16.8px color-mix(in srgb, #0672e7 20%, transparent);
  }

  .p_w_b b {
    @apply max-lg:text-xl inline-block max-lg:mb-2
  }
}
